footer{
    width: 80%;
    margin-left: 10%;
}
nav{
    background: black;
    color: #fff8dc;
}

nav > div > a{
    color: whitesmoke;
    text-decoration: none;
}

.shops{
    width: 80%;
    margin-left: 10%;
}

#logo{
    border: none;
}
